extends ../layouts/_default

block body

  main

    article(class='o-container')

      header(hidden)
        h1=app.name

      script(src='//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js')
      script.
        swfobject.embedSWF('jungleoats.swf', 'main', '800', '600', '6.0.0');

      img(src='jungleoats.png' width=492 height=492 alt='This page requires Flash')

      p
        strong This page requires flash...sorry!

      footer
        | Copyright &copy; 
        span(itemprop='copyrightYear') 2013
        |  
        span(itemprop='author copyrightHolder', itemscope='', itemtype='http://schema.org/Person')
          a(href='http://lanceguyatt.com/') Lance Guyatt, Web Developer
          a(href='https://plus.google.com/102432796825488724849/', rel='publisher', hidden='') Find me on Google+
          meta(itemprop='name', content='Lance Guyatt')
          meta(itemprop='description', content='I am an award winning Web Developer with 8 years professional experience in developing web applications.')
          meta(itemprop='jobTitle' content='Web Developer')
          meta(itemprop='url' content=author.url)
          meta(itemprop='email' content=author.email)
          meta(itemprop='image' content='http://lanceguyatt.com/logo.png')
