extends ../layouts/_default

block view

  main

    div(id='jungleoats')
      img(
        src=`${paths.images}jungleoats.png`
        width=492
        height=492
        alt='This page requires Flash'
        class='u-mx-auto u-block u-mb4'
      )

append scripts

  script(src=`${paths.scripts}swfobject.js`)
  script.
    swfobject.embedSWF('flash/jungleoats.swf', 'jungleoats', 800, 600, '6.0.0');
